.alt-version {
 	
	.stripe-form .card-expiry-month {
		
		+ .chosen-container {
			width: 142px !important;
		}
	}
	
	.stripe-form .card-expiry-year {
		
		+ .chosen-container {
			width: 84px !important;
		}
	}

 	.step-4 .plan-card {
	 	text-align: left;

		@include wider-than(tablet-portrait) {
			width: 66.27078%;
			
			&:before {
				width: 66.27078%;
			}
		}
		
	 	.feature-list,
	 	.custom-feature-list {
			@include margin(null null 0 null);
			text-align: left;
			
			@include wider-than(phone-landscape) {
				-webkit-column-count: 2;
				-webkit-column-gap: 40px; 
				-moz-column-count: 2;
				-moz-column-gap: 40px;  
				column-count: 2;
				column-gap: 40px; 
			}
	 	}
 	}
 	
 	.step-4 {
	 	
	 	.form-row {
		 	width: 100%;
		 	display: block;
	 	}
	 	
		.form-container {
				
			@include wider-than(tablet-portrait) {
				width: 33.72922%;
				
				&:before {
					left: 66.27078%;
					width: 33.72922%;
				}
			}
			
			label {
				@extend .screen-reader-text;
			}
			
			button[type="submit"].button {
				float: none;
				display: block;
				margin: 0 auto 20px;
			}
		}
	 	
	 	.review-card {
		 	
		 	.header {
			 	@include padding(null null 20px null);
			 	@include row;
			 	position: relative;
			 	
			 	text-align: left;
			 	
				.title {
					@include padding(null 12px null 12px);
					
					@include wider-than(tablet-portrait) {
						@include span-columns(7);
						@include omega;
					}
				}
		 	}
		 	
		 	.savings {
			 	@include margin(null null null 12px);
			 	@include padding(7px 12px 6px 12px);
			 	
			 	background-color: $color--white;
			 	border-radius: 3px;
			 	color: $color--black;
			 	display: inline-block;
			 	
			 	@include wider-than(tablet-portrait) {
				 	left: 0;
				 	position: absolute;
				 	top: 50px;
			 	}
		 	}
		 	
		 	.price {
			 	@include padding(10px null null null);
			 	
			 	@include wider-than(tablet-portrait) {
			 		text-align: right;
			 		@include span-columns(5);
			 		float: right;
			 	}
		 	}
		 	
		 	.price-terms {
			 	@include margin(null null null 10px);
			 	
			 	@include wider-than(tablet-portrait) {
				 	clear: both;
				 	text-align: right;
				 	float: right;
			 	}
		 	}
		 	.per-month,
		 	.per-year {
			 	@include wider-than(tablet-portrait) {
				 	float: right;
			 	}
		 	}
	 	}
	 
 	}
}