.stripe-form {

	.card-expiry-month {

		+ .chosen-container {
			width: 160px !important;
		}
	}

	.card-expiry-year {

		+ .chosen-container {
			width: 90px !important;
		}
	}

	.chosen-container {
		font-size: rem(16);

		a {
			color: $color--medium-grey;
			text-decoration: none;

			// Fallback color for IE using minified file.
			background-color: #fff;

			&:hover {
				color: $color--dark-grey;
			}
		}
	}

	.chosen-container-single .chosen-single {
		@include padding(6px 10px);

		border-radius: 3px;
		height: 38px;

		div {
			top: 5px;
		}
	}

	.chosen-container-active.chosen-with-drop .chosen-single {

	}
}