
// the progress bar is an unordered list
.steps-indicator {
	@include size(100% 15px);

	background: #252c35;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 25px;
	list-style: none;
	margin: 0;
	padding: 0;
	top: 20px !important;

	// progress bar states
	li {
		@include size(24% 100%);

		display: inline-block;
		line-height: 1;
		margin: 0;
		padding: 0;
		text-align: center;
		position: relative;

		// when the user is "done", move the progress bar
		&.done:before {
			@include size(100% 13px);

			background: #4cd072;
			content: '';
			display: inline-block;
			left: 0;
			position: absolute;
			top: -16px;

			-webkit-animation: progress 2s 1 forwards;
			-moz-animation: progress 2s 1 forwards;
			-ms-animation: progress 2s 1 forwards;
			animation: progress 2s 1 forwards;

			@media (min-width: 394px) {
				top: -4px
			}
		}

		// add border radius to first child
		&:first-child:before {
			border-top-left-radius: 9px;
			border-bottom-left-radius: 9px;
		}

		// add border radius to last child
		&:last-child:before {
			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;
		}

		// when the user is "done", change link color
		&.done {

			a {
				color: #59606a;
				cursor: pointer;
			}
		}

		// defaults for each state
		a {
			color: #fff;
			font-size: rem(11);
			font-weight: 300;
			text-transform: none;
			position: relative;
			top: -35px;

			@include wider-than(phone-landscape) {
				font-size: rem(16);
			}
		}
	}

	/**
	 * Define "progress" animation for each browser prefix
	 */
	@-webkit-keyframes progress {
		from {
			width: 0
		}

		to {
			width: 100%
		}
	}

	@-moz-keyframes progress {
		from {
			width: 0
		}

		to {
			width: 100%
		}
	}

	@-ms-keyframes progress {
		from {
			width: 0
		}

		to {
			width: 100%
		}
	}

	@keyframes progress {
		from {
			width: 0
		}

		to {
			width: 100%
		}
	}
}