.plan-card {
	@include margin(null null 24px null);

	background-color: $color--medium-grey;
	border-radius: $border-radius;
	color: white;
	cursor: pointer;
	text-align: center;

	-webkit-transition:background-color 0.4s linear;
	-o-transition:background-color 0.4s linear;
	-moz-transition:background-color 0.4s linear;
	transition:background-color 0.4s linear;

	&.selected,
	#page-2 &,
	#page-3 &,
	#page-4 & {
		@include padding(null null 20px null);

		background-color: $color--medium-blue;

		.special-features,
		.custom-features {
			background-color: lighten($color--medium-blue, 14%);

			i {
				background-color: $color--medium-blue;
			}
		}

		.price {
			background-color: $color--dark-blue;
			background-color: rgba($color--dark-blue, 0.25);
		}

		.plan-select.premium ,
		.plan-select.premium-2 {
			@include icon(before, check-square-o) {
				@include margin(null 5px null null);

				vertical-align: middle;
			}
		}
	}

	&.selected {
		@include padding(null null 0 null);
	}

	&:hover {
		background-color: darken($color--medium-blue, 6%);

		.special-features,
		.custom-features {
			background-color: lighten($color--medium-blue, 8%);

			i {
				background-color: darken($color--medium-blue, 6%);
			}
		}

		.price {
			background-color: darken($color--dark-blue, 6%);
			background-color: rgba(darken($color--dark-blue, 6%), 0.25);
		}
	}

	.step-1 & {
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}

	@include wider-than(tablet-portrait) {
		@include margin(null null 0 null);
		@include span-columns(4);

		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		min-height: 442px;

		.step-1 &:nth-of-type(1),
		.step-1 &:nth-of-type(3) {
			@include margin(30px null null null);
		}
	}

	@include wider-than(tablet-landscape) {
		.step-1 &:nth-of-type(1),
		.step-1 &:nth-of-type(3) {
			@include margin(60px null null null);
		}
	}

	.plan-select.premium ,
	.plan-select.premium-2 {
		@include icon(before, square-o) {
			@include margin(null 10px null null);

			cursor: pointer;
			font-size: rem(32);
			vertical-align: middle;
		}
	}

	// .plan-select {
	// 	@include icon(before, square-o) {
	// 		@include margin(null 10px null null);

	// 		cursor: pointer;
	// 		font-size: rem(32);
	// 		vertical-align: middle;
	// 	}
	// }

	.title {
		@include padding(30px 32px 0 32px);

		font-size: rem(24);
		font-weight: bold;
	}

	.short-description {
		@include margin(20px 32px);

		font-size: rem(14);
		font-weight: bold;
	}

	.flag {
		@include padding(4px 16px 2px 22px);

		background-color: $color--medium-red;
		border-top-right-radius: $border-radius;
		font-size: rem(12);
		font-style: italic;
		font-weight: bold;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		top: 0;
	}

	&.custom {

		.custom-features {
			@include padding(null 30px);
			@include row;

			text-align: center;

			i {
				@include margin(null 22px null null);

				height: 72px;
				line-height: 72px;
				width: 72px;

				@include wider-than(tablet-portrait) {
					float: left;
				}
			}

			@include wider-than(tablet-portrait) {
				text-align: left;
			}
		}

		.custom-feature-list {
			font-size: rem(14);
		}

		.card-bottom {
			@include padding(20px 32px);

			background-color: #2B323B;
			background-color: rgba(#2B323B, 0.3);
			font-size: rem(14);
			font-weight: bold;

			a {
				color: $color--white;

				&.button {
					display: inline-block;
				}
			}
		}
	}

	.special-features,
	.custom-features {
		@include margin(0 0 20px 0);
		@include padding(17px 0);

		background-color: lighten($color--medium-grey, 14%);
		list-style: none;

		-webkit-transition:background-color 0.4s linear;
		-o-transition:background-color 0.4s linear;
		-moz-transition:background-color 0.4s linear;
		transition:background-color 0.4s linear;

		#page-2 &,
		#page-3 &,
		#page-4 & {
			background-color: lighten($color--medium-blue, 14%);
		}

		li {
			display: inline-block;
			font-size: rem(13);
			font-weight: bold;
			text-align: center;
			width: 30%;
		}

		i {
			background-color: $color--medium-grey;
			border-radius: 50%;
			display: inline-block;
			font-weight: normal;
			height: 60px;
			line-height: 60px;
			font-size: rem(36);
			text-align: center;
			width: 60px;

			-webkit-transition:background-color 0.4s linear;
			-o-transition:background-color 0.4s linear;
			-moz-transition:background-color 0.4s linear;
			transition:background-color 0.4s linear;
		}

		h4 {
			color: $color--white;
			font-size: rem(35);
			font-weight: bold;
		}

		.label {
			@include margin(7px null null null);

			display: block;
		}
	}

	.feature-list,
	.custom-feature-list {
		@include margin(0 32px 40px 32px);
		@include padding(0);

		list-style: none;
		text-align: center;

		@include wider-than(tablet-portrait) {
			text-align: left;
		}

		i {
			@include margin(null 10px null null);

			font-size: rem(24);
			text-align: center;
			width: 26px;
			vertical-align: middle;
		}
	}

	.feature-list {
		line-height: 2;
	}

	.price {
		@include padding(20px 32px);

		background-color: #2B323B;
		background-color: rgba(#2B323B, 0.3);
		line-height: 1;

		-webkit-transition:background-color 0.4s linear;
		-o-transition:background-color 0.4s linear;
		-moz-transition:background-color 0.4s linear;
		transition:background-color 0.4s linear;
	}

	.dollar-sign,
	.number {
		font-size: rem(48);
	}

	.per-month {
		font-size: rem(24);
	}

	.per-site {
		display: block;
	}

	.review-card .price {
		background-color: transparent;
		@include padding(0);
	}

}

.step-2 .plan-card,
.step-3 .plan-card,
.step-4 .plan-card {
	min-height: inherit;

	@include wider-than(tablet-portrait) {
		float: left;
		margin-right: 0;
		width: 33.72922%;

		&:before {
			width: 33.72922%;
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: -1;
			left: 0;
			background-color: $color--medium-blue;
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}
	}
}