.review-card {
	@include margin(12px);
	@include padding(16px);
	
	background-color: $color--dark-blue;
	border-radius: $border-radius;
	
	.header {
		@include padding(null null 14px null);
		
		border-bottom: 1px solid rgba($color--medium-blue, 0.6);
		text-align: center;
		
		.title {
			@include margin(null null 20px null);
			@include padding(10px null null null);
		}
	}
	
	.savings {
		@include margin(0 auto 20px auto);
		@include padding(8px);
		
		background-color: darken($color--light-green, 10%);
		color: lighten($color--light-green, 46%);
		display: block;
		width: auto;
	}
	
	.price {
		@include margin(null null 6px null);
		display: block;
		font-size: rem(48);
	}
	
	.pricing-terms {
		font-size: rem(12);
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
}

.step-4 {
	
	.review-card {
		.price-terms,
		.per-month {
			font-size: rem(18);
			font-weight: 100;
		}
		
		.feature-list,
		.custom-feature-list {
			@include margin(20px 12px null 12px);
		}
	}
	
	.plan-card {
		
		> .title {
			color: lighten($color--light-blue, 32%);
		}
	}
	
	.form-container h2 {
		
		@include icon(before, credit-card) {
			@include margin(null 10px null null);
			
			font-weight: normal;
		}
		
	}
	
	.stripe-form {
		button[type="submit"] {
			@include margin(0 null null null);
		}
	}
}