// ul
.payment-list {
	@include margin(40px 0 0 0);
	@include padding(0);
	
	list-style: none;
	
	li {
		@include margin(null null 20px null);
		@include padding(20px 15px 13px 15px);
		@include row;
		
		border: 2px solid $color--dark-grey;
		border-radius: $border-radius;
		
		opacity: 0.5;
		
		position: relative;
		text-align: center;
		
		-webkit-transition: all 0.4s linear;
		-o-transition: all 0.4s linear;
		-moz-transition: all 0.4s linear;
		transition: all 0.4s linear;
		
		&:hover,
		&.selected {
			background-color: rgba($color--dark-grey, 0.5);
			color: white;
			opacity: 1.0;
		}
		
		@include wider-than(phone-landscape) {
			text-align: left;
		}
	}
	
	.left-column {
		@include margin(null null null null);
		
		@include wider-than(tablet-portrait) {
			@include span-columns(8);
		}
		
		position: relative;
		
		&.slide-toggle {
			@include padding(6px null null null);
			
			display: inline-block;
			
			@include wider-than(phone-landscape) {
				display: block;
			}
		}
	}
	
	.right-column {
		@include margin(20px auto);
		
		max-width: 158px;
		display: block;
		text-align: center;
		
		@include wider-than(tablet-portrait) {
			@include margin(0);
			@include span-columns(4);
			
			max-width: inherit;
			text-align: right;
		}
	}
	
	.price {
		display: inline-block;
		font-size: rem(48);
		line-height: 1;
	}
	
	.per-month {
		font-size: rem(14);
	}
	
	.yearly-price {
		font-size: rem(18);
		font-weight: bold;
		line-height: 1;
	}
	
	.per-year { 
		font-size: rem(18);
		font-weight: 100;
		line-height: 1;
	}
}