.step-1 {
	
	.button--blue {
		@include margin(40px auto);
		
		background-color: rgba($color--white, 0);
		border-color: $color--medium-blue;
		color: white;
		display: block;
		font-size: rem(22);
		font-weight: bold;
		
		&:hover {
			background-color: $color--medium-blue;
			border-color: $color--medium-blue;
			color: white;
		}
		
		@include wider-than(tablet-portrait) {
			font-size: rem(36);
		}
	}
	
	.pricing {
		position: relative;
	}
}