.gfield_description span.read-more-toggle {
	font-size: .8rem;
	cursor: pointer;
	background: #F7F7F7;
	color: #888;
	padding: 4px;
}

.gfield.read-more-content {
 	display: none;
}

.gform_wrapper .loading-wrap {
	position: absolute;
	display: none;
	-webkit-transition: all 300ms ease;
  transition: all 300ms ease;
	background: rgba(255,255,255,.6);
	width: 100%;
	height: 100%;
	padding: 20px 20px 20px;

}

@keyframes loadingC {
  0 {transform: translate(0,0);}
  50% {transform: translate(0,15px);}
  100% {transform: translate(0,0);}
}

.gform_wrapper .loading {
	margin: 0 auto;
	width: 100px;
	height: 100px;

	.line {
    display: inline-block;
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #d3d3d3;

    &:nth-last-child(1) {
		  animation: loadingC .6s .1s linear infinite;
		}
		&:nth-last-child(2) {
		  animation: loadingC .6s .2s linear infinite;
		}
		&:nth-last-child(3) {
		  animation: loadingC .6s .3s linear infinite;
		}
	}
}
