@charset "UTF-8";
/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
/**
 * Thematical palette
 */
/**
 * Colors
 */
/**
 * Typography
 */
/**
 * Map icon names to font unicode characters
 * see @mixin icon in mixins.scss
 *
 * Example usage: 
 *
 *    .menu-toggle {
 *        @include icon(before, favicon) {
 *            padding-left: 3px;
 *        }
 *    }
 */
/* line 4, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*-------------------------------------------------------------
Grid Settings -- overrides default Bourbon - Neat
http://neat.bourbon.io/examples/
-------------------------------------------------------------*/
/*--------------------------------------------------------------
Set Bourbon's flex-grid variables to match what Neat is doing
http://bourbon.io/docs/#flex-grid
---------------------------------------------------------------*/
/*--------------------------------------------------------------
Optional - A handy visual grid overlay
---------------------------------------------------------------*/
/* line 7, sass/base/_accessibility.scss */
.screen-reader-text, .pick-plan > label, .alt-version .step-4 .form-container label {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
/* line 14, sass/base/_accessibility.scss */
.screen-reader-text:hover, .pick-plan > label:hover, .alt-version .step-4 .form-container label:hover, .screen-reader-text:active, .pick-plan > label:active, .alt-version .step-4 .form-container label:active, .screen-reader-text:focus, .pick-plan > label:focus, .alt-version .step-4 .form-container label:focus {
  background-color: #242C35;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #ffffff;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 0.3125em;
  line-height: normal;
  padding: 0.9375em 1.4375em 0.875em;
  text-decoration: none;
  top: 0.3125em;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* line 1, sass/base/_index.scss */
.form-wrap,
.step,
.page,
.tos {
  display: block;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.form-wrap::after,
.step::after,
.page::after,
.tos::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.form-wrap::after,
.step::after,
.page::after,
.tos::after {
  clear: both;
  content: "";
  display: table;
}

/* line 9, sass/base/_index.scss */
.form-wrap {
  position: relative;
}
/* line 12, sass/base/_index.scss */
.form-wrap .steps {
  margin-bottom: 60px;
  position: relative;
  top: 60px;
}
/* line 19, sass/base/_index.scss */
.form-wrap .steps-indicator {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 27, sass/base/_index.scss */
.form-wrap .step-1 .steps {
  top: 0;
}
/* line 31, sass/base/_index.scss */
.form-wrap .step-1 .steps-indicator {
  display: none;
}

/* line 37, sass/base/_index.scss */
.pick-plan {
  display: block;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.pick-plan::after {
  clear: both;
  content: "";
  display: table;
}

/* line 45, sass/base/_index.scss */
.page {
  position: relative;
  z-index: 0;
}

/* line 50, sass/base/_index.scss */
.login-link a {
  margin-left: 20px;
  color: #EAE7E7;
  font-size: 0.875rem;
  text-decoration: underline;
}
/* line 57, sass/base/_index.scss */
.login-link a:hover {
  color: #F3F3F3;
}

/* line 62, sass/base/_index.scss */
.tos {
  display: none;
}

/* line 1, sass/base/_forms.scss */
.stripe-form {
  color: #EAE7E7;
}
/* line 4, sass/base/_forms.scss */
.stripe-form .form-container {
  padding: 38px;
  background-color: #5F6670;
  border-radius: 8px;
  z-index: 2;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.stripe-form .form-container::after {
  clear: both;
  content: "";
  display: table;
}
@media (min-width: 48em) {
  /* line 4, sass/base/_forms.scss */
  .stripe-form .form-container {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    float: left;
    width: 66.27078%;
  }
  /* line 18, sass/base/_forms.scss */
  .stripe-form .form-container:before {
    background-color: #5F6670;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    bottom: 0;
    content: '';
    left: 33.72922%;
    position: absolute;
    top: 0;
    width: 66.27078%;
    z-index: -1;
  }
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.stripe-form .form-container:after {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  color: #3A424C;
  font-size: 1.375rem;
  line-height: 1;
  position: absolute;
  right: 20px;
  top: 10px;
}
/* line 43, sass/base/_forms.scss */
.stripe-form .form-container a {
  color: #EAE7E7;
  text-decoration: underline;
}
/* line 47, sass/base/_forms.scss */
.stripe-form .form-container a:hover {
  color: #ffffff;
}
/* line 52, sass/base/_forms.scss */
.stripe-form .form-container h2,
.stripe-form .form-container .gform_heading h3.gform_title {
  color: #EAE7E7;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
}
/* line 60, sass/base/_forms.scss */
.stripe-form .form-container > .error {
  margin-top: 20px;
  padding: 16px;
  background-color: #DC4A3B;
  border: 1px solid #922B20;
  color: #ffffff;
}
/* line 70, sass/base/_forms.scss */
.stripe-form fieldset {
  margin: 20px 0;
  padding: 0;
  border: none;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.stripe-form fieldset::after {
  clear: both;
  content: "";
  display: table;
}
/* line 78, sass/base/_forms.scss */
.stripe-form legend {
  color: #cdc6c6;
  font-size: 0.9375rem;
}
/* line 83, sass/base/_forms.scss */
.stripe-form .form-row {
  margin: 10px 3% 10px 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
@media (min-width: 40em) {
  /* line 83, sass/base/_forms.scss */
  .stripe-form .form-row {
    clear: left;
    width: 48%;
  }
  /* line 94, sass/base/_forms.scss */
  .stripe-form .form-row:nth-of-type(2n) {
    margin-right: 0;
  }
}
/* line 99, sass/base/_forms.scss */
.stripe-form .form-row > label {
  margin-bottom: 4px;
  clear: both;
  display: inline-block;
  font-size: 0.875rem;
}
/* line 106, sass/base/_forms.scss */
.stripe-form .form-row > label + input[type="text"], .stripe-form .form-row > label + input[type="password"] {
  width: 100%;
}
/* line 113, sass/base/_forms.scss */
.stripe-form input[type="button"].button,
.stripe-form button[type="submit"].button,
.stripe-form button[type="button"].button {
  margin: 16px;
  padding: 0.65em 2em;
  background-color: rgba(255, 255, 255, 0);
  border-color: #ffffff;
  color: #ffffff;
  line-height: 1;
}
/* line 125, sass/base/_forms.scss */
.stripe-form input[type="button"].button:hover,
.stripe-form button[type="submit"].button:hover,
.stripe-form button[type="button"].button:hover {
  background-color: #28609e;
  border-color: #5793D5;
  color: white;
}
/* line 131, sass/base/_forms.scss */
.stripe-form input[type="button"].button:disabled,
.stripe-form button[type="submit"].button:disabled,
.stripe-form button[type="button"].button:disabled {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #3A424C;
  color: #3A424C;
  cursor: default;
}
/* line 138, sass/base/_forms.scss */
.stripe-form input[type="button"].button.button-back,
.stripe-form button[type="submit"].button.button-back,
.stripe-form button[type="button"].button.button-back {
  margin-right: 4%;
  float: left;
  width: 48%;
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.stripe-form input[type="button"].button.button-back:before,
.stripe-form button[type="submit"].button.button-back:before,
.stripe-form button[type="button"].button.button-back:before {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  margin-right: 8px;
  font-size: 1.125rem;
  line-height: 1;
}
@media (min-width: 40em) {
  /* line 138, sass/base/_forms.scss */
  .stripe-form input[type="button"].button.button-back,
  .stripe-form button[type="submit"].button.button-back,
  .stripe-form button[type="button"].button.button-back {
    margin-right: 0;
    width: auto;
  }
}
/* line 158, sass/base/_forms.scss */
.stripe-form input[type="button"].button.button-continue,
.stripe-form button[type="submit"].button.button-continue,
.stripe-form button[type="button"].button.button-continue {
  float: right;
  position: relative;
  text-indent: -14px;
  width: 48%;
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.stripe-form input[type="button"].button.button-continue:before,
.stripe-form button[type="submit"].button.button-continue:before,
.stripe-form button[type="button"].button.button-continue:before {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  margin-top: -1px;
  font-size: 1.125rem;
  line-height: 1;
  position: relative;
  left: 82px;
}
@media (min-width: 40em) {
  /* line 158, sass/base/_forms.scss */
  .stripe-form input[type="button"].button.button-continue,
  .stripe-form button[type="submit"].button.button-continue,
  .stripe-form button[type="button"].button.button-continue {
    width: auto;
  }
}
@media (min-width: 48em) {
  /* line 113, sass/base/_forms.scss */
  .stripe-form input[type="button"].button,
  .stripe-form button[type="submit"].button,
  .stripe-form button[type="button"].button {
    width: auto;
  }
}
/* line 183, sass/base/_forms.scss */
.stripe-form input[type="text"],
.stripe-form input[type="email"],
.stripe-form input[type="url"],
.stripe-form input[type="tel"],
.stripe-form input[type="password"],
.stripe-form input[type="search"],
.stripe-form select,
.stripe-form textarea {
  width: 98%;
}
/* line 193, sass/base/_forms.scss */
.stripe-form input[type="text"] .has-validation,
.stripe-form input[type="email"] .has-validation,
.stripe-form input[type="url"] .has-validation,
.stripe-form input[type="tel"] .has-validation,
.stripe-form input[type="password"] .has-validation,
.stripe-form input[type="search"] .has-validation,
.stripe-form select .has-validation,
.stripe-form textarea .has-validation {
  padding-right: 30px;
}
/* line 199, sass/base/_forms.scss */
.stripe-form input[type="text"].ng-pristine + .error,
.stripe-form input[type="email"].ng-pristine + .error,
.stripe-form input[type="url"].ng-pristine + .error,
.stripe-form input[type="tel"].ng-pristine + .error,
.stripe-form input[type="password"].ng-pristine + .error,
.stripe-form input[type="search"].ng-pristine + .error,
.stripe-form select.ng-pristine + .error,
.stripe-form textarea.ng-pristine + .error {
  padding: 0;
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.stripe-form input[type="text"].ng-pristine + .error:after,
.stripe-form input[type="email"].ng-pristine + .error:after,
.stripe-form input[type="url"].ng-pristine + .error:after,
.stripe-form input[type="tel"].ng-pristine + .error:after,
.stripe-form input[type="password"].ng-pristine + .error:after,
.stripe-form input[type="search"].ng-pristine + .error:after,
.stripe-form select.ng-pristine + .error:after,
.stripe-form textarea.ng-pristine + .error:after {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  color: #EAE7E7;
  position: absolute;
  right: 14px;
  top: 38px;
  z-index: 5;
}
/* line 210, sass/base/_forms.scss */
.stripe-form input[type="text"].ng-pristine + .error:before,
.stripe-form input[type="email"].ng-pristine + .error:before,
.stripe-form input[type="url"].ng-pristine + .error:before,
.stripe-form input[type="tel"].ng-pristine + .error:before,
.stripe-form input[type="password"].ng-pristine + .error:before,
.stripe-form input[type="search"].ng-pristine + .error:before,
.stripe-form select.ng-pristine + .error:before,
.stripe-form textarea.ng-pristine + .error:before {
  display: none;
}
/* line 216, sass/base/_forms.scss */
.stripe-form input[type="text"].ng-dirty.ng-invalid,
.stripe-form input[type="email"].ng-dirty.ng-invalid,
.stripe-form input[type="url"].ng-dirty.ng-invalid,
.stripe-form input[type="tel"].ng-dirty.ng-invalid,
.stripe-form input[type="password"].ng-dirty.ng-invalid,
.stripe-form input[type="search"].ng-dirty.ng-invalid,
.stripe-form select.ng-dirty.ng-invalid,
.stripe-form textarea.ng-dirty.ng-invalid {
  color: #DC4A3B;
}
/* line 219, sass/base/_forms.scss */
.stripe-form input[type="text"].ng-dirty.ng-invalid + .error,
.stripe-form input[type="email"].ng-dirty.ng-invalid + .error,
.stripe-form input[type="url"].ng-dirty.ng-invalid + .error,
.stripe-form input[type="tel"].ng-dirty.ng-invalid + .error,
.stripe-form input[type="password"].ng-dirty.ng-invalid + .error,
.stripe-form input[type="search"].ng-dirty.ng-invalid + .error,
.stripe-form select.ng-dirty.ng-invalid + .error,
.stripe-form textarea.ng-dirty.ng-invalid + .error {
  padding: 0;
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.stripe-form input[type="text"].ng-dirty.ng-invalid + .error:after,
.stripe-form input[type="email"].ng-dirty.ng-invalid + .error:after,
.stripe-form input[type="url"].ng-dirty.ng-invalid + .error:after,
.stripe-form input[type="tel"].ng-dirty.ng-invalid + .error:after,
.stripe-form input[type="password"].ng-dirty.ng-invalid + .error:after,
.stripe-form input[type="search"].ng-dirty.ng-invalid + .error:after,
.stripe-form select.ng-dirty.ng-invalid + .error:after,
.stripe-form textarea.ng-dirty.ng-invalid + .error:after {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  color: #DC4A3B;
  position: absolute;
  right: 14px;
  top: 38px;
  z-index: 5;
}
/* line 230, sass/base/_forms.scss */
.stripe-form input[type="text"].ng-dirty.ng-invalid + .error:before,
.stripe-form input[type="email"].ng-dirty.ng-invalid + .error:before,
.stripe-form input[type="url"].ng-dirty.ng-invalid + .error:before,
.stripe-form input[type="tel"].ng-dirty.ng-invalid + .error:before,
.stripe-form input[type="password"].ng-dirty.ng-invalid + .error:before,
.stripe-form input[type="search"].ng-dirty.ng-invalid + .error:before,
.stripe-form select.ng-dirty.ng-invalid + .error:before,
.stripe-form textarea.ng-dirty.ng-invalid + .error:before {
  display: none;
}
/* line 236, sass/base/_forms.scss */
.stripe-form input[type="text"].ng-dirty.ng-valid,
.stripe-form input[type="email"].ng-dirty.ng-valid,
.stripe-form input[type="url"].ng-dirty.ng-valid,
.stripe-form input[type="tel"].ng-dirty.ng-valid,
.stripe-form input[type="password"].ng-dirty.ng-valid,
.stripe-form input[type="search"].ng-dirty.ng-valid,
.stripe-form select.ng-dirty.ng-valid,
.stripe-form textarea.ng-dirty.ng-valid {
  color: #29CA6F;
}
/* line 239, sass/base/_forms.scss */
.stripe-form input[type="text"].ng-dirty.ng-valid + .error,
.stripe-form input[type="email"].ng-dirty.ng-valid + .error,
.stripe-form input[type="url"].ng-dirty.ng-valid + .error,
.stripe-form input[type="tel"].ng-dirty.ng-valid + .error,
.stripe-form input[type="password"].ng-dirty.ng-valid + .error,
.stripe-form input[type="search"].ng-dirty.ng-valid + .error,
.stripe-form select.ng-dirty.ng-valid + .error,
.stripe-form textarea.ng-dirty.ng-valid + .error {
  padding: 0;
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.stripe-form input[type="text"].ng-dirty.ng-valid + .error:after,
.stripe-form input[type="email"].ng-dirty.ng-valid + .error:after,
.stripe-form input[type="url"].ng-dirty.ng-valid + .error:after,
.stripe-form input[type="tel"].ng-dirty.ng-valid + .error:after,
.stripe-form input[type="password"].ng-dirty.ng-valid + .error:after,
.stripe-form input[type="search"].ng-dirty.ng-valid + .error:after,
.stripe-form select.ng-dirty.ng-valid + .error:after,
.stripe-form textarea.ng-dirty.ng-valid + .error:after {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  color: #20a058;
  position: absolute;
  right: 14px;
  top: 38px;
  z-index: 5;
}
/* line 250, sass/base/_forms.scss */
.stripe-form input[type="text"].ng-dirty.ng-valid + .error:before,
.stripe-form input[type="email"].ng-dirty.ng-valid + .error:before,
.stripe-form input[type="url"].ng-dirty.ng-valid + .error:before,
.stripe-form input[type="tel"].ng-dirty.ng-valid + .error:before,
.stripe-form input[type="password"].ng-dirty.ng-valid + .error:before,
.stripe-form input[type="search"].ng-dirty.ng-valid + .error:before,
.stripe-form select.ng-dirty.ng-valid + .error:before,
.stripe-form textarea.ng-dirty.ng-valid + .error:before {
  display: none;
}
/* line 257, sass/base/_forms.scss */
.stripe-form .sublabel {
  font-size: 0.875rem;
  font-weight: 100;
}
/* line 262, sass/base/_forms.scss */
.stripe-form .save {
  display: block;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 100;
}
/* line 269, sass/base/_forms.scss */
.stripe-form span.required {
  margin-left: 6px;
  color: #DC4A3B;
  font-size: 1.125rem;
}
/* line 276, sass/base/_forms.scss */
.stripe-form .pricing-terms {
  font-size: 0.75rem;
}

/* line 282, sass/base/_forms.scss */
.slide-toggle {
  color: #e8e8e8;
}
/* line 285, sass/base/_forms.scss */
.slide-toggle input[type="radio"] {
  display: none;
}
/* line 288, sass/base/_forms.scss */
.slide-toggle input[type="radio"] + label {
  margin-left: 70px;
  padding-left: 70px;
  display: table-cell;
  font-size: 1.25rem;
  font-weight: bold;
  height: 52px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
/* line 300, sass/base/_forms.scss */
.slide-toggle input[type="radio"] + label:before {
  margin-top: -14px;
  margin-left: -70px;
  border: 2px solid #3A424C;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  content: '';
  display: inline-block;
  height: 28px;
  position: absolute;
  top: 50%;
  width: 46px;
  z-index: 0;
}
/* line 315, sass/base/_forms.scss */
.slide-toggle input[type="radio"] + label:after {
  margin-top: -13px;
  border: 2px solid #3A424C;
  border-radius: 50%;
  content: '';
  display: block;
  height: 26px;
  left: 1px;
  position: absolute;
  top: 50%;
  width: 26px;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 338, sass/base/_forms.scss */
.slide-toggle input[type="radio"]:checked + label:before {
  background-color: #242C35;
  border-color: #242C35;
}
/* line 343, sass/base/_forms.scss */
.slide-toggle input[type="radio"]:checked + label:after {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
  left: 19px;
}
/* line 351, sass/base/_forms.scss */
.slide-toggle .selected {
  color: #ffffff;
}

/* line 356, sass/base/_forms.scss */
.success {
  margin-bottom: 0;
  padding: 30px;
  background-color: #4bdb8a;
  border: 2px solid #20a058;
  border-radius: 8px;
  color: white;
  font-size: 1.125rem;
  font-weight: 100;
  position: relative;
  text-align: center;
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.success:before {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  margin-right: 14px;
  color: #187540;
  font-size: 2.625rem;
  vertical-align: middle;
}

/* line 378, sass/base/_forms.scss */
.notice {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 14px;
  background-color: #3A424C;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 100;
  position: relative;
  text-align: center;
}

/* line 3, sass/_step-1.scss */
.step-1 .button--blue {
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0);
  border-color: #5793D5;
  color: white;
  display: block;
  font-size: 1.375rem;
  font-weight: bold;
}
/* line 13, sass/_step-1.scss */
.step-1 .button--blue:hover {
  background-color: #5793D5;
  border-color: #5793D5;
  color: white;
}
@media (min-width: 48em) {
  /* line 3, sass/_step-1.scss */
  .step-1 .button--blue {
    font-size: 2.25rem;
  }
}
/* line 24, sass/_step-1.scss */
.step-1 .pricing {
  position: relative;
}

/* line 2, sass/_step-3.scss */
.payment-list {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}
/* line 8, sass/_step-3.scss */
.payment-list li {
  margin-bottom: 20px;
  padding: 20px 15px 13px;
  display: block;
  border: 2px solid #3A424C;
  border-radius: 8px;
  opacity: 0.5;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.payment-list li::after {
  clear: both;
  content: "";
  display: table;
}
/* line 26, sass/_step-3.scss */
.payment-list li:hover, .payment-list li.selected {
  background-color: rgba(58, 66, 76, 0.5);
  color: white;
  opacity: 1.0;
}
@media (min-width: 40em) {
  /* line 8, sass/_step-3.scss */
  .payment-list li {
    text-align: left;
  }
}
/* line 38, sass/_step-3.scss */
.payment-list .left-column {
  position: relative;
}
@media (min-width: 48em) {
  /* line 38, sass/_step-3.scss */
  .payment-list .left-column {
    float: left;
    display: block;
    margin-right: 1.18765%;
    width: 66.27078%;
  }
  /* line 89, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .payment-list .left-column:last-child {
    margin-right: 0;
  }
}
/* line 47, sass/_step-3.scss */
.payment-list .left-column.slide-toggle {
  padding-top: 6px;
  display: inline-block;
}
@media (min-width: 40em) {
  /* line 47, sass/_step-3.scss */
  .payment-list .left-column.slide-toggle {
    display: block;
  }
}
/* line 58, sass/_step-3.scss */
.payment-list .right-column {
  margin: 20px auto;
  max-width: 158px;
  display: block;
  text-align: center;
}
@media (min-width: 48em) {
  /* line 58, sass/_step-3.scss */
  .payment-list .right-column {
    margin: 0;
    float: left;
    display: block;
    margin-right: 1.18765%;
    width: 32.54157%;
    max-width: inherit;
    text-align: right;
  }
  /* line 89, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .payment-list .right-column:last-child {
    margin-right: 0;
  }
}
/* line 74, sass/_step-3.scss */
.payment-list .price {
  display: inline-block;
  font-size: 3rem;
  line-height: 1;
}
/* line 80, sass/_step-3.scss */
.payment-list .per-month {
  font-size: 0.875rem;
}
/* line 84, sass/_step-3.scss */
.payment-list .yearly-price {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1;
}
/* line 90, sass/_step-3.scss */
.payment-list .per-year {
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1;
}

/* line 1, sass/_step-4.scss */
.review-card {
  margin: 12px;
  padding: 16px;
  background-color: #3A5B9A;
  border-radius: 8px;
}
/* line 8, sass/_step-4.scss */
.review-card .header {
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(87, 147, 213, 0.6);
  text-align: center;
}
/* line 14, sass/_step-4.scss */
.review-card .header .title {
  margin-bottom: 20px;
  padding-top: 10px;
}
/* line 20, sass/_step-4.scss */
.review-card .savings {
  margin: 0 auto 20px;
  padding: 8px;
  background-color: #20a058;
  color: #e4faed;
  display: block;
  width: auto;
}
/* line 30, sass/_step-4.scss */
.review-card .price {
  margin-bottom: 6px;
  display: block;
  font-size: 3rem;
}
/* line 36, sass/_step-4.scss */
.review-card .pricing-terms {
  font-size: 0.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 48, sass/_step-4.scss */
.step-4 .review-card .price-terms,
.step-4 .review-card .per-month {
  font-size: 1.125rem;
  font-weight: 100;
}
/* line 54, sass/_step-4.scss */
.step-4 .review-card .feature-list,
.step-4 .review-card .custom-feature-list {
  margin-top: 20px;
  margin-right: 12px;
  margin-left: 12px;
}
/* line 62, sass/_step-4.scss */
.step-4 .plan-card > .title {
  color: #d4eaf7;
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.step-4 .form-container h2:before {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  margin-right: 10px;
  font-weight: normal;
}
/* line 78, sass/_step-4.scss */
.step-4 .stripe-form button[type="submit"] {
  margin-top: 0;
}

/* line 3, sass/_indicator.scss */
.steps-indicator {
  height: 15px;
  width: 100%;
  background: #252c35;
  border: 1px solid transparent;
  border-radius: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 20px !important;
  /**
   * Define "progress" animation for each browser prefix
   */
}
/* line 15, sass/_indicator.scss */
.steps-indicator li {
  height: 100%;
  width: 24%;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}
/* line 26, sass/_indicator.scss */
.steps-indicator li.done:before {
  height: 13px;
  width: 100%;
  background: #4cd072;
  content: '';
  display: inline-block;
  left: 0;
  position: absolute;
  top: -16px;
  -webkit-animation: progress 2s 1 forwards;
  -moz-animation: progress 2s 1 forwards;
  -ms-animation: progress 2s 1 forwards;
  animation: progress 2s 1 forwards;
}
@media (min-width: 394px) {
  /* line 26, sass/_indicator.scss */
  .steps-indicator li.done:before {
    top: -4px;
  }
}
/* line 47, sass/_indicator.scss */
.steps-indicator li:first-child:before {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
/* line 53, sass/_indicator.scss */
.steps-indicator li:last-child:before {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
/* line 61, sass/_indicator.scss */
.steps-indicator li.done a {
  color: #59606a;
  cursor: pointer;
}
/* line 68, sass/_indicator.scss */
.steps-indicator li a {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 300;
  text-transform: none;
  position: relative;
  top: -35px;
}
@media (min-width: 40em) {
  /* line 68, sass/_indicator.scss */
  .steps-indicator li a {
    font-size: 1rem;
  }
}
@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-moz-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-ms-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* line 1, sass/_plan-card.scss */
.plan-card {
  margin-bottom: 24px;
  background-color: #5F6670;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
/* line 15, sass/_plan-card.scss */
.plan-card.selected, #page-2 .plan-card, #page-3 .plan-card, #page-4 .plan-card {
  padding-bottom: 20px;
  background-color: #5793D5;
}
/* line 23, sass/_plan-card.scss */
.plan-card.selected .special-features,
.plan-card.selected .custom-features, #page-2 .plan-card .special-features,
#page-2 .plan-card .custom-features, #page-3 .plan-card .special-features,
#page-3 .plan-card .custom-features, #page-4 .plan-card .special-features,
#page-4 .plan-card .custom-features {
  background-color: #90b8e3;
}
/* line 27, sass/_plan-card.scss */
.plan-card.selected .special-features i,
.plan-card.selected .custom-features i, #page-2 .plan-card .special-features i,
#page-2 .plan-card .custom-features i, #page-3 .plan-card .special-features i,
#page-3 .plan-card .custom-features i, #page-4 .plan-card .special-features i,
#page-4 .plan-card .custom-features i {
  background-color: #5793D5;
}
/* line 32, sass/_plan-card.scss */
.plan-card.selected .price, #page-2 .plan-card .price, #page-3 .plan-card .price, #page-4 .plan-card .price {
  background-color: #3A5B9A;
  background-color: rgba(58, 91, 154, 0.25);
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.plan-card.selected .plan-select.premium:before,
.plan-card.selected .plan-select.premium-2:before, #page-2 .plan-card .plan-select.premium:before,
#page-2 .plan-card .plan-select.premium-2:before, #page-3 .plan-card .plan-select.premium:before,
#page-3 .plan-card .plan-select.premium-2:before, #page-4 .plan-card .plan-select.premium:before,
#page-4 .plan-card .plan-select.premium-2:before {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  margin-right: 5px;
  vertical-align: middle;
}
/* line 47, sass/_plan-card.scss */
.plan-card.selected {
  padding-bottom: 0;
}
/* line 51, sass/_plan-card.scss */
.plan-card:hover {
  background-color: #3f83cf;
}
/* line 54, sass/_plan-card.scss */
.plan-card:hover .special-features,
.plan-card:hover .custom-features {
  background-color: #78a8dd;
}
/* line 58, sass/_plan-card.scss */
.plan-card:hover .special-features i,
.plan-card:hover .custom-features i {
  background-color: #3f83cf;
}
/* line 63, sass/_plan-card.scss */
.plan-card:hover .price {
  background-color: #324e84;
  background-color: rgba(50, 78, 132, 0.25);
}
/* line 69, sass/_plan-card.scss */
.step-1 .plan-card {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media (min-width: 48em) {
  /* line 1, sass/_plan-card.scss */
  .plan-card {
    margin-bottom: 0;
    float: left;
    display: block;
    margin-right: 1.18765%;
    width: 32.54157%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 442px;
  }
  /* line 89, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .plan-card:last-child {
    margin-right: 0;
  }
  /* line 82, sass/_plan-card.scss */
  .step-1 .plan-card:nth-of-type(1), .step-1 .plan-card:nth-of-type(3) {
    margin-top: 30px;
  }
}
@media (min-width: 64em) {
  /* line 89, sass/_plan-card.scss */
  .step-1 .plan-card:nth-of-type(1), .step-1 .plan-card:nth-of-type(3) {
    margin-top: 60px;
  }
}
/* line 66, sass/utilities/mixins/_icon-font-awesome.scss */
.plan-card .plan-select.premium:before,
.plan-card .plan-select.premium-2:before {
  content: "";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: "FontAwesome";
  margin-right: 10px;
  cursor: pointer;
  font-size: 2rem;
  vertical-align: middle;
}
/* line 116, sass/_plan-card.scss */
.plan-card .title {
  padding: 30px 32px 0;
  font-size: 1.5rem;
  font-weight: bold;
}
/* line 123, sass/_plan-card.scss */
.plan-card .short-description {
  margin: 20px 32px;
  font-size: 0.875rem;
  font-weight: bold;
}
/* line 130, sass/_plan-card.scss */
.plan-card .flag {
  padding: 4px 16px 2px 22px;
  background-color: #DC4A3B;
  border-top-right-radius: 8px;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
/* line 146, sass/_plan-card.scss */
.plan-card.custom .custom-features {
  padding-right: 30px;
  padding-left: 30px;
  display: block;
  text-align: center;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.plan-card.custom .custom-features::after {
  clear: both;
  content: "";
  display: table;
}
/* line 152, sass/_plan-card.scss */
.plan-card.custom .custom-features i {
  margin-right: 22px;
  height: 72px;
  line-height: 72px;
  width: 72px;
}
@media (min-width: 48em) {
  /* line 152, sass/_plan-card.scss */
  .plan-card.custom .custom-features i {
    float: left;
  }
}
@media (min-width: 48em) {
  /* line 146, sass/_plan-card.scss */
  .plan-card.custom .custom-features {
    text-align: left;
  }
}
/* line 169, sass/_plan-card.scss */
.plan-card.custom .custom-feature-list {
  font-size: 0.875rem;
}
/* line 173, sass/_plan-card.scss */
.plan-card.custom .card-bottom {
  padding: 20px 32px;
  background-color: #2B323B;
  background-color: rgba(43, 50, 59, 0.3);
  font-size: 0.875rem;
  font-weight: bold;
}
/* line 181, sass/_plan-card.scss */
.plan-card.custom .card-bottom a {
  color: #ffffff;
}
/* line 184, sass/_plan-card.scss */
.plan-card.custom .card-bottom a.button {
  display: inline-block;
}
/* line 191, sass/_plan-card.scss */
.plan-card .special-features,
.plan-card .custom-features {
  margin: 0 0 20px;
  padding: 17px 0;
  background-color: #828a95;
  list-style: none;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
/* line 204, sass/_plan-card.scss */
#page-2 .plan-card .special-features, #page-3 .plan-card .special-features, #page-4 .plan-card .special-features, #page-2
.plan-card .custom-features, #page-3
.plan-card .custom-features, #page-4
.plan-card .custom-features {
  background-color: #90b8e3;
}
/* line 210, sass/_plan-card.scss */
.plan-card .special-features li,
.plan-card .custom-features li {
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: bold;
  text-align: center;
  width: 30%;
}
/* line 218, sass/_plan-card.scss */
.plan-card .special-features i,
.plan-card .custom-features i {
  background-color: #5F6670;
  border-radius: 50%;
  display: inline-block;
  font-weight: normal;
  height: 60px;
  line-height: 60px;
  font-size: 2.25rem;
  text-align: center;
  width: 60px;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
/* line 235, sass/_plan-card.scss */
.plan-card .special-features h4,
.plan-card .custom-features h4 {
  color: #ffffff;
  font-size: 2.1875rem;
  font-weight: bold;
}
/* line 241, sass/_plan-card.scss */
.plan-card .special-features .label,
.plan-card .custom-features .label {
  margin-top: 7px;
  display: block;
}
/* line 248, sass/_plan-card.scss */
.plan-card .feature-list,
.plan-card .custom-feature-list {
  margin: 0 32px 40px;
  padding: 0;
  list-style: none;
  text-align: center;
}
@media (min-width: 48em) {
  /* line 248, sass/_plan-card.scss */
  .plan-card .feature-list,
  .plan-card .custom-feature-list {
    text-align: left;
  }
}
/* line 260, sass/_plan-card.scss */
.plan-card .feature-list i,
.plan-card .custom-feature-list i {
  margin-right: 10px;
  font-size: 1.5rem;
  text-align: center;
  width: 26px;
  vertical-align: middle;
}
/* line 270, sass/_plan-card.scss */
.plan-card .feature-list {
  line-height: 2;
}
/* line 274, sass/_plan-card.scss */
.plan-card .price {
  padding: 20px 32px;
  background-color: #2B323B;
  background-color: rgba(43, 50, 59, 0.3);
  line-height: 1;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
/* line 287, sass/_plan-card.scss */
.plan-card .dollar-sign,
.plan-card .number {
  font-size: 3rem;
}
/* line 292, sass/_plan-card.scss */
.plan-card .per-month {
  font-size: 1.5rem;
}
/* line 296, sass/_plan-card.scss */
.plan-card .per-site {
  display: block;
}
/* line 300, sass/_plan-card.scss */
.plan-card .review-card .price {
  background-color: transparent;
  padding: 0;
}

/* line 307, sass/_plan-card.scss */
.step-2 .plan-card,
.step-3 .plan-card,
.step-4 .plan-card {
  min-height: inherit;
}
@media (min-width: 48em) {
  /* line 307, sass/_plan-card.scss */
  .step-2 .plan-card,
  .step-3 .plan-card,
  .step-4 .plan-card {
    float: left;
    margin-right: 0;
    width: 33.72922%;
  }
  /* line 317, sass/_plan-card.scss */
  .step-2 .plan-card:before,
  .step-3 .plan-card:before,
  .step-4 .plan-card:before {
    width: 33.72922%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: #5793D5;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

/* line 5, sass/_alt-version.scss */
.alt-version .stripe-form .card-expiry-month + .chosen-container {
  width: 142px !important;
}
/* line 12, sass/_alt-version.scss */
.alt-version .stripe-form .card-expiry-year + .chosen-container {
  width: 84px !important;
}
/* line 17, sass/_alt-version.scss */
.alt-version .step-4 .plan-card {
  text-align: left;
}
@media (min-width: 48em) {
  /* line 17, sass/_alt-version.scss */
  .alt-version .step-4 .plan-card {
    width: 66.27078%;
  }
  /* line 23, sass/_alt-version.scss */
  .alt-version .step-4 .plan-card:before {
    width: 66.27078%;
  }
}
/* line 28, sass/_alt-version.scss */
.alt-version .step-4 .plan-card .feature-list,
.alt-version .step-4 .plan-card .custom-feature-list {
  margin-bottom: 0;
  text-align: left;
}
@media (min-width: 40em) {
  /* line 28, sass/_alt-version.scss */
  .alt-version .step-4 .plan-card .feature-list,
  .alt-version .step-4 .plan-card .custom-feature-list {
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
  }
}
/* line 46, sass/_alt-version.scss */
.alt-version .step-4 .form-row {
  width: 100%;
  display: block;
}
@media (min-width: 48em) {
  /* line 51, sass/_alt-version.scss */
  .alt-version .step-4 .form-container {
    width: 33.72922%;
  }
  /* line 56, sass/_alt-version.scss */
  .alt-version .step-4 .form-container:before {
    left: 66.27078%;
    width: 33.72922%;
  }
}
/* line 66, sass/_alt-version.scss */
.alt-version .step-4 .form-container button[type="submit"].button {
  float: none;
  display: block;
  margin: 0 auto 20px;
}
/* line 75, sass/_alt-version.scss */
.alt-version .step-4 .review-card .header {
  padding-bottom: 20px;
  display: block;
  position: relative;
  text-align: left;
}
/* line 20, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.alt-version .step-4 .review-card .header::after {
  clear: both;
  content: "";
  display: table;
}
/* line 82, sass/_alt-version.scss */
.alt-version .step-4 .review-card .header .title {
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: 48em) {
  /* line 82, sass/_alt-version.scss */
  .alt-version .step-4 .review-card .header .title {
    float: left;
    display: block;
    margin-right: 1.18765%;
    width: 57.83848%;
    margin-right: 0;
  }
  /* line 89, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .alt-version .step-4 .review-card .header .title:last-child {
    margin-right: 0;
  }
}
/* line 92, sass/_alt-version.scss */
.alt-version .step-4 .review-card .savings {
  margin-left: 12px;
  padding: 7px 12px 6px;
  background-color: #ffffff;
  border-radius: 3px;
  color: #000000;
  display: inline-block;
}
@media (min-width: 48em) {
  /* line 92, sass/_alt-version.scss */
  .alt-version .step-4 .review-card .savings {
    left: 0;
    position: absolute;
    top: 50px;
  }
}
/* line 108, sass/_alt-version.scss */
.alt-version .step-4 .review-card .price {
  padding-top: 10px;
}
@media (min-width: 48em) {
  /* line 108, sass/_alt-version.scss */
  .alt-version .step-4 .review-card .price {
    text-align: right;
    float: left;
    display: block;
    margin-right: 1.18765%;
    width: 40.97387%;
    float: right;
  }
  /* line 89, /Applications/XAMPP/xamppfiles/htdocs/maintainn.dev/maintainn-refresh/plugins/maintainn-plans/assets/css/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .alt-version .step-4 .review-card .price:last-child {
    margin-right: 0;
  }
}
/* line 118, sass/_alt-version.scss */
.alt-version .step-4 .review-card .price-terms {
  margin-left: 10px;
}
@media (min-width: 48em) {
  /* line 118, sass/_alt-version.scss */
  .alt-version .step-4 .review-card .price-terms {
    clear: both;
    text-align: right;
    float: right;
  }
}
@media (min-width: 48em) {
  /* line 127, sass/_alt-version.scss */
  .alt-version .step-4 .review-card .per-month,
  .alt-version .step-4 .review-card .per-year {
    float: right;
  }
}

/* line 1, sass/_errors.scss */
.error {
  color: #ff0033;
  text-align: center;
}

/* line 6, sass/_errors.scss */
.error-button {
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/* line 5, sass/_chosen.scss */
.stripe-form .card-expiry-month + .chosen-container {
  width: 160px !important;
}
/* line 12, sass/_chosen.scss */
.stripe-form .card-expiry-year + .chosen-container {
  width: 90px !important;
}
/* line 17, sass/_chosen.scss */
.stripe-form .chosen-container {
  font-size: 1rem;
}
/* line 20, sass/_chosen.scss */
.stripe-form .chosen-container a {
  color: #5F6670;
  text-decoration: none;
  background-color: #fff;
}
/* line 27, sass/_chosen.scss */
.stripe-form .chosen-container a:hover {
  color: #3A424C;
}
/* line 33, sass/_chosen.scss */
.stripe-form .chosen-container-single .chosen-single {
  padding: 6px 10px;
  border-radius: 3px;
  height: 38px;
}
/* line 39, sass/_chosen.scss */
.stripe-form .chosen-container-single .chosen-single div {
  top: 5px;
}

/*# sourceMappingURL=styles.css.map */
