//--------------------------------------------------------------
// Accessibility
//--------------------------------------------------------------

// Text meant only for screen readers

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-background-screen-reader;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color-text-screen-reader;
		display: block;
		font-size: rem(14);
		font-weight: 700;
		height: auto;
		left: em(5px);
		line-height: normal;
		padding: em(15px) em(23px) em(14px);
		text-decoration: none;
		top: em(5px);
		width: auto;
		z-index: 100000; /* Above WP toolbar */
	}
}
