.stripe-form {
	color: $color--light-grey;

	.form-container {
		@include padding(38px);
		@include clearfix;

		background-color: $color--medium-grey;
		border-radius: $border-radius;
		z-index: 2;

		@include wider-than(tablet-portrait) {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			float: left;
			width: 66.27078%;

			&:before {
				background-color: $color--medium-grey;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: $border-radius;
				border-top-left-radius: 0;
				border-top-right-radius: $border-radius;
				bottom: 0;
				content: '';
				left: 33.72922%;
				position: absolute;
				top: 0;
				width: 66.27078%;
				z-index: -1;
			}
		}

		@include icon(after, lock) {
			color: $color--dark-grey;
			font-size: rem(22);
			line-height: 1;
			position: absolute;
			right: 20px;
			top: 10px;
		}

		a {
			color: $color--light-grey;
			text-decoration: underline;

			&:hover {
				color: $color--white;
			}
		}

		h2,
		.gform_heading h3.gform_title{
			color: $color--light-grey;
			display: inline-block;
			font-size: rem(20);
			font-weight: bold;
		}

		> .error {
			@include margin(20px null null null);
			@include padding(16px);

			background-color: $color--medium-red;
			border: 1px solid $color--dark-red;
			color: $color--white;
		}
	}

	fieldset {
		@include margin(20px 0);
		@include padding(0);

		border: none;
		@include clearfix;
	}

	legend {
		color: darken($color--light-grey, 12%);
		font-size: rem(15);
	}

	.form-row {
		@include margin(10px 3% 10px 0);

		display: inline-block;
		position: relative;
		width: 100%;

		@include wider-than(phone-landscape) {
			clear: left;
			width: 48%;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		> label {
			@include margin(null null 4px null);

			clear: both;
			display: inline-block;
			font-size: rem(14);

			& + input[type="text"],
			& + input[type="password"] {
				width: 100%;
			}
		}
	}

	input[type="button"].button,
	button[type="submit"].button,
	button[type="button"].button {
		@include margin(16px);
		@include padding(0.65em 2em);

		background-color: rgba($color--white, 0);
		border-color: $color--white;
		color: $color--white;
		line-height: 1;


		&:hover {
			background-color: darken( $color--medium-blue, 20% );
			border-color: $color--medium-blue;
			color: white;
		}

		&:disabled {
			background-color: rgba($color--white, 0);
			border: 2px solid $color--dark-grey;
			color: $color--dark-grey;
			cursor: default;
		}

		&.button-back {
			@include margin(null 4% null null);

			float: left;
			width: 48%;

			@include icon(before, angle-left) {
				@include margin(null 8px null null);

				font-size: rem(18);
				line-height: 1;
			}

			@include wider-than(phone-landscape) {
				@include margin(null 0 null null);

				width: auto;
			}
		}

		&.button-continue {
			float: right;
			position: relative;
			text-indent: -14px;
			width: 48%;

			@include icon(before, angle-right) {
				@include margin(-1px null null null);

				font-size: rem(18);
				line-height: 1;
				position: relative;
				left: 82px;
			}

			@include wider-than(phone-landscape) {
				width: auto;
			}
		}

		@include wider-than(tablet-portrait) {
			width: auto;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="password"],
	input[type="search"],
	select,
	textarea {
		width: 98%;

		.has-validation {
			@include padding(null 30px null null);
		}

		&.ng-pristine {

			+ .error {
				@include padding(0);

				@include icon(after, check) {
					color: $color--light-grey;
					position: absolute;
					right: 14px;
					top: 38px;
					z-index: 5;
				}

				&:before {
					display: none;
				}
			}
		}

		&.ng-dirty.ng-invalid {
			color: $color--medium-red;

			+ .error {
				@include padding(0);

				@include icon(after, times) {
					color: $color--medium-red;
					position: absolute;
					right: 14px;
					top: 38px;
					z-index: 5;
				}

				&:before {
					display: none;
				}
			}
		}

		&.ng-dirty.ng-valid {
			color: $color--light-green;

			+ .error {
				@include padding(0);

				@include icon(after, check) {
					color: darken($color--light-green, 10%);
					position: absolute;
					right: 14px;
					top: 38px;
					z-index: 5;
				}

				&:before {
					display: none;
				}
			}
		}
	}

	.sublabel {
		font-size: rem(14);
		font-weight: 100;
	}

	.save {
		display: block;
		font-size: rem(14);
		font-style: italic;
		font-weight: 100;
	}

	span.required {
		@include margin(null null null 6px);

		color: $color--medium-red;
		font-size: rem(18);
	}

	.pricing-terms {
		font-size: rem(12);
	}

}

.slide-toggle {
	color: #e8e8e8;

	input[type="radio"] {
		display: none;

		& + label {
			@include margin(null null null 70px);
			@include padding(null null null 70px);

			display: table-cell;
			font-size: rem(20);
			font-weight: bold;
			height: 52px;
			position: relative;
			text-align: left;
			vertical-align: middle;

			&:before {
				@include margin(-14px null null -70px);

				border: 2px solid $color--dark-grey;
				border-radius: 50px;
				box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
				content: '';
				display: inline-block;
				height: 28px;
				position: absolute;
				top: 50%;
				width: 46px;
				z-index: 0;
			}

			&:after {
				@include margin(-13px null null null);

				border: 2px solid $color--dark-grey;
				border-radius: 50%;
				content: '';
				display: block;
				height: 26px;
				left: 1px;
				position: absolute;
				top: 50%;
				width: 26px;
				z-index: 1;

				-webkit-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
		}

		&:checked + label {

			&:before {
				background-color: $color--darker-grey;
				border-color: $color--darker-grey;
			}

			&:after {
				background-color: #d8d8d8;
				border-color: #d8d8d8;
				left: 19px;
			}
		}
	}

	.selected {
		color: $color--white;
	}
}

.success {
	@include margin(null null 0 null);
	@include padding(30px);

	background-color: lighten($color--light-green, 10%);
	border: 2px solid darken($color--light-green, 10%);
	border-radius: $border-radius;
	color: lighten($color--light-green, 60%);
	font-size: rem(18);
	font-weight: 100;
	position: relative;
	text-align: center;

	@include icon(before, check) {
		@include margin(null 14px null null);

		color: darken($color--light-green, 20%);
		font-size: rem(42);
		vertical-align: middle;
	}
}

.notice {
	@include margin(20px null 0 null);
	@include padding(14px);

	background-color: $color--dark-grey;
	border-radius: $border-radius;
	color: $color--white;
	font-size: rem(18);
	font-weight: 100;
	position: relative;
	text-align: center;

}