.form-wrap,
.step,
.page,
.tos {
	@include row;
	@include clearfix;
}

.form-wrap {
	position: relative;
	
	.steps {
		@include margin(null null 60px null);
		
		position: relative;
		top: 60px;
	}
	
	.steps-indicator {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.step-1 {
		
		.steps {
			top: 0;
		}
		
		.steps-indicator {
			display: none;
		}
	}
}

.pick-plan {
	@include row;
	
	& > label {
		@extend .screen-reader-text;
	}
}

.page {
	position: relative;
	z-index: 0;
}

.login-link a {
	@include margin(null null null 20px);
	
	color: $color--light-grey;
	font-size: rem(14);
	text-decoration: underline;
	
	&:hover {
		color: #F3F3F3;
	}
}

.tos {
	display: none;
}