/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/

/**
 * Thematical palette
 */
// blues
$color--light-blue     : #49A6DF;
$color--medium-blue    : #5793D5;
$color--dark-blue      : #3A5B9A;
$color--linkedin-blue  : #007bb6;
$color--facebook-blue  : #3b5998;
$color--twitter-blue   : #4099ff;

// reds
$color--medium-red     : #DC4A3B;
$color--dark-red       : #922B20;

// yellow
$color--mustard-yellow : #CD7724;

// green
$color--light-green    : #29CA6F;

// greys
$color--darkest-grey   : #15171E;
$color--darker-grey    : #242C35;
$color--dark-grey      : #3A424C;
$color--medium-grey    : #5F6670;
$color--light-grey     : #EAE7E7;
$color--lighter-grey   : #F3F3F3;

// black & white
$color--black          : #000000;
$color--white          : #ffffff;


/**
 * Colors
 */
$color-background-body: #fff;
$color-background-screen: #f1f1f1;
$color-background-hr: #ccc;
$color-background-button: #e6e6e6;
$color-background-pre: #eee;
$color-background-ins: #fff9c0;
$color-background-screen-reader: $color--darker-grey;

$color-text-screen: #21759b;
$color-text-input: $color--darker-grey;
$color-text-input-focus: $color--darkest-grey;
$color-link: $color--medium-blue;
$color-link-visited: $color--medium-blue;
$color-link-hover: $color--dark-blue;
$color-text-main: #404040;
$color-text-screen-reader: $color--white;

$color-border-button: $color--white;
$color-border-button-hover: $color--medium-blue;
$color-border-button-focus: $color--dark-blue;
$color-border-input: $color--medium-grey;
$color-border-abbr: $color--dark-blue;

$color-background-comment-area: $color--white;
$color-background-comment-even: $color--lighter-grey;
$color-background-comment-odd: $color--white;
$color-background-comment-author: #fff9c0;

/**
 * Typography
 */
$em-base: 16px; // Bourbon: http://bourbon.io/docs/#em-base 

$font-sans:  Helvetica, arial, sans-serif;
$font-serif: Roboto, Georgia, Times, "Times New Roman", serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-icon: "FontAwesome";

$line-height-body: 1.5;
$line-height-pre: 1.6;


//
// Border-radius
//
$border-radius: 8px;


/**
 * Map icon names to font unicode characters
 * see @mixin icon in mixins.scss
 *
 * Example usage: 
 *
 *    .menu-toggle {
 *        @include icon(before, favicon) {
 *            padding-left: 3px;
 *        }
 *    }
 */
$icons: (
	angle-left: "\f104",
	angle-right: "\f105",
	
	check: "\f00c",
	check-square-o: "\f046",
	credit-card: "\f09d",
	lock: "\f023",
	square-o: "\f096",
	times: "\f00d",
);


// Media Query Breakpoints
/// Breakpoints Sass list map for Media Queries @mixin
/// @group wds
$breakpoints: (
		large-desktop: 105em, // 1680px
		desktop: 85.375em, // 1366px
		tablet-landscape: 64em, // 1024px
		tablet-portrait: 48em, // 768px
		phone-landscape: 40em, // 640px
		phone-portrait: 22.5em, // 360px
);
